DB_HOST=host.docker.internal
DB_NAME=apartments_for_sale_otodom
DB_USER=postgres
DB_PASSWORD=haslo123
DB_PORT=5432

# Ta zmienna obowiązuje tylko przy uruchomieniu lokalnym (make run-server)
MLFLOW_TRACKING_URI=http://127.0.0.1:5002
