DB_HOST=your-neon-host.neon.tech
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=your_password
DB_PORT=5432
DB_SSLMODE=require

# Ta zmienna obowiązuje tylko przy uruchomieniu lokalnym (make run-server)
MLFLOW_TRACKING_URI=http://127.0.0.1:5002
